HM Revenue and Customs Alcohol Bulletin - July 2018

In [1]:
from databaker.framework import *
import pandas as pd

In [2]:
next_table = pd.DataFrame()

In [3]:
%%capture
%run "Alcohol HMRC(2).ipynb"
next_table = pd.concat([next_table, new_table])

%run "Alcohol HMRC(3).ipynb"
next_table = pd.concat([next_table, new_table])

%run "Alcohol HMRC(4).ipynb"
next_table = pd.concat([next_table, new_table])

%run "Alcohol HMRC(5).ipynb"
next_table = pd.concat([next_table, new_table])

%run "Alcohol HMRC(7).ipynb"
next_table = pd.concat([next_table, new_table])

%run "Alcohol HMRC(8).ipynb"
next_table = pd.concat([next_table, new_table])

%run "Alcohol HMRC(9).ipynb"
next_table = pd.concat([next_table, new_table])

%run "Alcohol HMRC(10).ipynb"
next_table = pd.concat([next_table, new_table])

%run "Alcohol HMRC(12).ipynb"
next_table = pd.concat([next_table, Final_table])

In [4]:
next_table.dropna(how='any',axis=0, inplace =True)

In [5]:
next_table.count()

Year               10634
Category           10634
Alcohol Content    10634
Measure Type       10634
Value              10634
Unit               10634
Revision           10634
dtype: int64

In [6]:
next_table.head()

,Year,Category,Alcohol Content,Measure Type,Value,Unit,Revision
0,2013/14,Still,Not exceeding 15%,Net Volume,11434771,hectolitres,
1,2014/15,Still,Not exceeding 15%,Net Volume,10922458,hectolitres,
2,2015/16,Still,Not exceeding 15%,Net Volume,11236512,hectolitres,
3,2016/17,Still,Not exceeding 15%,Net Volume,11226356,hectolitres,
4,2017/18,Still,Not exceeding 15%,Net Volume,11192015,hectolitres,

In [7]:
next_table.tail()

,Year,Category,Alcohol Content,Measure Type,Value,Unit,Revision
168,25.03.13,Low Strength Beers,1.2% to 2.8%,GBP Total,9.17,£ per 1% ABV per hectolitre,
169,24.03.14,Low Strength Beers,1.2% to 2.8%,GBP Total,8.62,£ per 1% ABV per hectolitre,
170,23.03.15,Low Strength Beers,1.2% to 2.8%,GBP Total,8.1,£ per 1% ABV per hectolitre,
171,21.03.16,Low Strength Beers,1.2% to 2.8%,GBP Total,8.1,£ per 1% ABV per hectolitre,
172,13.03.17,Low Strength Beers,1.2% to 2.8%,GBP Total,8.42,£ per 1% ABV per hectolitre,

In [8]:
out = Path('out')
out.mkdir(exist_ok=True)
next_table.to_csv(out / 'hmrcalcohol.csv', index = False)